body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: auto 0;
}

#imagem {
    width: 592px;
    margin: 0 auto 72px;
    /*margin-top: 0;
    margin-right: auto;
    margin-bottom: 72px;
    margin-left: auto;*/
}

/*pega somente o elemento img dentro dessa div*/
#imagem img {
    width: 592px;
}

h1 {
    font-family: "Inter", sans-serif;
    font-size: 49px;
    line-height: 56px;
    font-weight: normal;

    margin-bottom: 32px;
}

h1 span {
    color: #0075ff;
    font-weight: bold;
}

span, a {
    color: #0075ff;
}

p, #footer {
    color: #7d7987;
    font-size: 14px;
    line-height: 28px;
}

/*a + a = estou pegando o segundo a dentro do footer*/
#footer a + a {
    margin-left: 28px;

}

.line {
    width: 568px;
    height: 0;
    margin: 0 auto 8px;
    border: 1px solid #eceff2;
}

